git+https://github.com/LonamiWebs/Telethon@83f13da420f0f581234d66dd3f5f91fd8f8fa3e3
aiohttp~=3.8.3
lxml~=4.9.1
git+https://github.com/penn5/python-poeditor
matplotlib~=3.6.2
networkx~=2.8.8
scipy~=1.9.3
grapheme~=0.6.0
coloredlogs~=15.0.1
regex~=2022.10.31
numpy~=1.23.5
poeditor~=1.1.3